@charset "UTF-8";

:root {
    --preto: #1a1a1a;
    --branco: #ffffff;
    --verde: #3e5f42;
    --cinza: #546656;
    --fonte: 'Ridgeway Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box
}

body {
    font-family: var(--fonte);
    color: var(--preto);
    font-size: 1em;
}

header {
    position: fixed;
    background-color: var(--branco);
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: 0.5s;
}

a {
    color: var(--preto);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 1px;
    transition: 0.2s;
}

a:hover {
    color: var(--cinza);
    text-decoration: underline;
    transition: 0.2s;
    font-size: 15px;
}

.titulo-header {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.conteudo-hero {
    position: relative;
    z-index: 2;
    color: var(--branco);
    margin-left: 80px;
    font-size: 1.2rem;
    width: 50%;
    padding-top: 18rem;
    opacity: 0;
    transform: translateY(30px);
    animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.conteudo-hero h1 {
    font-size: 3.5rem;
}

.conteudo-hero p {
    margin-top: 1rem;
}

#missao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0vh 20vh;
}

#missao h2 {
    color: var(--verde);
    font-size: 2em;
    padding-bottom: 20px 0px ;
}

#missao p {
    text-align: center;
    padding: 20px 0px ;
}